# ========================================
# DJANGO
# ========================================
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False

# ========================================
# SERVER
# ========================================
DOMAIN_NAME=ctsupera.com.br
SERVER_IP=0.0.0.0

# ========================================
# DATABASE (POSTGRES - PROD)
# ========================================
POSTGRES_DB_NAME=ctsupera
POSTGRES_DB_USER=ctsupera
POSTGRES_DB_PASSWORD=change-me
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432

# ========================================
# EMAIL (SMTP)
# ========================================
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=admin@example.com
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=admin@example.com

# ========================================
# FRONTEND
# ========================================
FRONTEND_URL=https://ctsupera.com.br

# ========================================
# C6 BANK - SANDBOX
# ========================================
C6_BANK_SANDBOX_CLIENT_ID=change-me
C6_BANK_SANDBOX_CLIENT_SECRET=change-me
C6_BANK_SANDBOX_CHAVE_PIX=change-me
C6_BANK_SANDBOX_CERT_PATH=certificados/Sandbox/certificado.crt
C6_BANK_SANDBOX_KEY_PATH=certificados/Sandbox/chave.key
C6_BANK_SANDBOX_URL=https://baas-api-sandbox.c6bank.info

# ========================================
# C6 BANK - PRODUCTION
# ========================================
C6_BANK_PRODUCTION_CLIENT_ID=change-me
C6_BANK_PRODUCTION_CLIENT_SECRET=change-me
C6_BANK_PRODUCTION_CHAVE_PIX=change-me
C6_BANK_PRODUCTION_CERT_PATH=certificados/Producao/cert.crt
C6_BANK_PRODUCTION_KEY_PATH=certificados/Producao/cert.key
C6_BANK_PRODUCTION_URL=https://baas-api.c6bank.info

# ========================================
# C6 BANK - ACTIVE ENVIRONMENT
# ========================================
# Use: sandbox or production
C6_BANK_ENVIRONMENT=sandbox

# ========================================
# SECURITY (PROD)
# ========================================
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_PROXY_SSL_HEADER=('HTTP_X_FORWARDED_PROTO', 'https')

# ========================================
# LOCALE
# ========================================
TIME_ZONE=America/Sao_Paulo
LANGUAGE_CODE=pt-br




To do:
- [] ajustar o filtro de pré cadastros
- [] melhorar o fluxo de agendamento de aulas experimentais
- [] Ultimo deploy não foi realizado.
- [] Verificar paginação de mensalidades. Pois nem todas as mensalidades estão sendo exibidas.
