{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="quem-somos">
    <h2 style="color: blue;">Quem Somos</h2>
    <p style="color:blue;">O CT Supera Vôlei é uma escola dedicada à formação de atletas e promoção do esporte com excelência e paixão pelo vôlei de praia.</p>

    <!-- Botão para agendamento de aula experimental -->
    <a href="{% url 'agendar_aula_experimental' %}" class="btn btn-primary mt-3">
        Agende sua Aula Experimental
    </a>
</div>

<hr>

<h2 style="color: blue;">Supera News</h2>
<ul style="color: blue;">
    <li>Campeonato Interno - Maio 2025</li>
    <li>Aulão especial com atletas convidados - Junho 2025</li>
    <li>Novo CT em construção na Zona Oeste!</li>
</ul>

<hr>

<h2 style="color: blue;">Galeria de Fotos</h2>
<div class="row">
    <div class="col-md-4">
        <img src="{% static 'img/galeria1.jpeg' %}" class="img-fluid" alt="Foto 1">
    </div>
    <div class="col-md-4">
        <img src="{% static 'img/galeria2.jpg' %}" class="img-fluid" alt="Foto 2">
    </div>
    <div class="col-md-4">
        <img src="{% static 'img/galeria3.jpg' %}" class="img-fluid" alt="Foto 3">
    </div>
</div>

<hr>

{% endblock %}